{% extends 'index.html' %}

{% block content %}

<div class="card text-center w-75">
    <div class="card-body">
        <h5 class="card-title">Scripture search</h5> <br>
        <form action="/verse">
            <label for="">Book</label>
            <select name="book">
                {% for id, book in book_dict.items() %}
                <option value="{{ id }}">{{ book }}</option>
                {% endfor %}
            </select>
            <label for="">Chapter</label>
            <input class="lookup" type="text" name="chapter" placeholder="2" required>
            <label for="">Verses</label>
            <input class="verses" type="number" name="verse1" min="1", max="176" placeholder="Opt.">
            <label for="">to</label>
            <input class="verses" type="number" name="verse2" min="1", max="176" placeholder="Opt.">
            <br> <br>
            <label for="">Translation</label>
            <select name="translation">
                <option value="">Default: {{ translation }} </option>
                {% for option in translations %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-sm">Submit</button>
        </form>       
    </div>
</div>

<br> <br>

<div class="card text-center w-75">
    <div class="card-body">
        {% autoescape off %}
        <h5 class="card-title">Random verse of the day!</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">From anywhere in the Bible.</h6>
        <p class="card-text"><p><b>{{random['verse']}}</b> {{random['text']}} </p>
        <p><i>{{ book_dict[random['book']] }} {{ random['chapter'] }}:{{ random['verse'] }} ({{ translation }})</i> 
            {% if session['username'] %}
            <a href="/add-favorite/{{random['book']}}/{{random['chapter']}}/{{random['verse']}}"><i class="fa-regular fa-heart" data-toggle="tooltip" data-placement="right" title="Add to favorite"></i></a>
            {% endif %} 
        </p></p>
        <hr>
        <h5 class="card-title">Not-so-random verse of the day!</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">From selected scriptures.</h6>
        <p class="card-text"><p><b>{{chosen['verse']}}</b> {{chosen['text']}} </p>
        <p><i>{{ book_dict[book] }} {{ chapter }}:{{ chosen['verse'] }} ({{ translation }})</i>
            {% if session['username'] %} 
            <a href="/add-favorite/{{book}}/{{chapter}}/{{chosen['verse']}}"><i class="fa-regular fa-heart" data-toggle="tooltip" data-placement="right" title="Add to favorite"></i></a>
            {% endif %} 
        </p></p>
        {% endautoescape %}
    </div>
</div>



{% endblock %}