<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>UpWord</title>
</head>
<body>

    <nav class="navbar sticky-top navbar-expand">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                <img src="/static/Images/upword_logo.jpg" alt="logo">
                <span id="home">UpWord</span>
                </a>
            </div>
            <div class="navbar-collapse">
                <a href="/favorites" class="nav-link">Favorites |</a>
                <a href="/game" class="nav-link">Memory Game |</a>
                <a href="/compare" class="nav-link">Compare</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right" style="padding-top: 20px;">
                    <li>
                    <form action="/search">
                        <input class="form-control" minlength="3" placeholder="Keyword search: Love, Fear God, Joy, etc. " id="search" name="search" style="width: 315px;">
                    </form>
                    </li>
                    {% if not session['username'] %}
                        <li><a href="/signup" class="nav-link" id="user-link">Sign up</a></li>
                        <li><a href="/login" class="nav-link" id="user-link">Log in</a></li>
                    {% else %}
                        <li><a href="/account" class="nav-link" id="user-link">{{ session['username'] }}</a></li>
                        <li><a href="/logout" class="nav-link" id="logout">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }} container">{{ message }}</div>
    {% endfor %}

    <div class="container" id="block">
        {% block content %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/static/app.js"></script>
</body>
</html>