{% extends 'index.html' %}

{% block content %}

<h4 id="heading">{{ num }} search results for <i>{{ search }}</i>:</h4>

<div class="card text-center w-75">
    <div class="card-body">
        {% autoescape off %}
        {% for result in query %}
        <p class="card-text"><p><b>{{ result['verse'] }}</b> {{ result['text'] }} </p>
        <p><i>{{ bookDict[result['book']] }} {{ result['chapter'] }}:{{ result['verse'] }} ({{ result['translation'] }})</i>
            {% if session['username'] %} 
            <a href="/add-favorite/{{ result['book'] }}/{{ result['chapter'] }}/{{ result['verse'] }}"><i class="fa-regular fa-heart"></i></a>
            {% endif %}
        </p></p>
        <hr>
        {% endfor %}
        {% endautoescape %}
    </div>
</div>

{% endblock %}